<div><a href="/">Home</a></div>
<h1> List of all directors</h1>


    <table border="1">
      <tr> <!--table heading-->
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Dob</th>
        <th></th>
      </tr>
      <% Director.all.each do |director|%>
        <tr> <!--rows with directors data -->
          <td><%=director.id%></td>
          <td><img src=<%=director.image%>></td>
          <td><%=director.name%></td>
          <td><%=director.dob%></td>
          <td><a href="/directors/<%=director.id%>" target="_blank">Show Details</a></td>
        </tr>
      <%end%>
    </table>
